<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>file upload</h3>

<form action="/upload" method="post" enctype="multipart/form-data" >
<input type="file" name="fileUpload" id="">
<input type="submit" value="upload">
</form>


<img src="jawad.png" alt="" width="20%">
<img src="pic2.png" alt="" width="20%">
<img src="pic5.png" alt="" width="20%">
<img src="pic6.png" alt="" width="20%">



</body>
</html>